@charset "utf-8";

* {
	margin:0;
	padding:0;
}
ul, li {
	list-style:none;
}
.inputElem {
	width:260px;
	height:34px;
	line-height:22px;
	border:1px solid #ccc;
}
.parentCls {
	width:260px!important;
	height:268px; margin:0 auto;

}
.parentCls ul{ padding-right: 10px; background:#fff;}
.auto-tip li { width: 100%; height: 30px; line-height: 30px; font-size: 14px; color: #000;}
.auto-tip li.hoverBg {
	background:#ddd;
	cursor:pointer;
	width: 216px;
}

.hidden {
	display:none;
}